@page
@model Web.Pages.Producto.ListModel
@{
	ViewData["Title"] = "Lista de Productos";
}

<div class="card">
	<div class="card-header">
		<div class="col-sm-6">
			<h2 class="text-info">Lista de Productos</h2>
		</div>
		<div class="col-sm-6">
			<a asp-page="Create" class="btn btn-primary">Crear</a>
		</div>
	</div>
	<div class="card-footer">
		<br /> <br />
		@if (Model.Productos.Count() > 0)
		{
			<table class="table table-striped border">
				<tr>
					<td>Id</td>
					<td>Código</td>
					<td>Descripción</td>
					<td>Fecha de Registro</td>
					<td>Estado</td>
				</tr>
				@foreach(var producto in Model.Productos)
				{
					<tr>
						<td>@Html.DisplayFor(p=>producto.Id)</td>
						<td>@Html.DisplayFor(p=>producto.Codigo)</td>
						<td>@Html.DisplayFor(p=>producto.Descripcion)</td>
						<td>@Html.DisplayFor(p=>producto.FechaRegistro)</td>
						<td>@Html.DisplayFor(p=>producto.Estado)</td>
					</tr>
				}
			</table>
		}
		else
		{
			<p>No hay productos disponibles</p>
		}
	</div>
</div>
